<navbar></navbar>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="display-3">Fivembot</h1>
            <p class="lead">Doneer om coole functies te ontgrendelen en Fivembot draaiende te houden!</p>
        </div>
        <div class="col-sm-6">
            <img class="float float-right plus" src="assets/img/2pg-plus-avatar-transparent.svg" alt="">
        </div>
    </div>
    <section id="benefits" class="py-5">
        <plus-cards></plus-cards>
    </section>

    <section id="faq mb-5">
        <h2 class="text-center py-2">Vragen</h2>
        <zippy title="Hoezo is FivemBot gratis?">
            De Fivembot is gratis, dit omdat ik zelf bij een hosting zit waar ik CTO ben dus alles is voor mij gratis.
        </zippy>
    </section>
</div>